{% extends "base.html" %}

{% block content %}
          <div>
            <div id="add">
                <form id="add-question">
                  <label class="" for="question">Add a Frequently Asked Question</label>
                  <textarea class="input-question" id="question" rows="3"></textarea>
                  <button id="submit" class="right">Submit</button>
                  {% csrf_token %}
                </form>
            </div>
            <div id="added">
              <p>Your Question Was Added</p>
            </div>
          </div>
{% endblock content%}

{% block localjs %}
<script>
  /* Ajax Submit argument Fot Subject A*/
  $(function() {
    $("#submit").click(function(evt) {
      evt.preventDefault();

      $.post('/add/', {
        question: $("#question").val()

      }, function(data) {
        console.log(data);
        if (data && data.success) {
          $("#add").fadeOut();
          $("#added").fadeIn();
        }
      });
    });
  });
</script>
{% endblock %}