{% extends "base.html" %}


{% block content %}
      <!-- CONTENT -->
      <div class="full">

        <!-- SIDEBAR -->
        <div class="third left">
          <div id="nav" class="">
            <a href="/?sort=v" class="left link"><li class="{%if sort == 'v' %}active{%endif%}">Most Frequent</li></a>
            <a href="/?sort=d" class="left link"><li class="{%if sort == 'd' %}active{%endif%}">Newest</li></a>
            <a href="/?sort=a" class="left link"><li class="{%if sort == 'a' %}active{%endif%}">Alphabetical</li></a>
          </div>
        </div>

        <!-- MAIN CONTENT -->
        <div class="questions whitebox twothird right">
          {% for question in questions%}
              <div id="question-{{question.id}}" class="question whitebar left clear">
                      <div class="question-cell left">
                        <div class="question-text">
                          <p>{{question.question}}</p>
                        </div>
                      </div>
                      <div class="votecell">
                        <div class="">
                          <input type="hidden" value="{{question.id}}">
                          <a href="#" class="vote vote-up" title="This question IS frequently asked">yep</a>
                          <a href="#" class="vote vote-down" title="This question IS NOT! frequently asked">nope</a>
                        </div>
                      </div>
              </div>
    {% endfor %}
        </div> <!--.questions -->
     </div> <!--.full -->

        <div class="divider full clear"></div>
        
      <!--ADD QUESTION -->    
            <div class="clear full">
              <div id="add" class="twothird right">
                  <div id="add-question" class="inputfield"> {% csrf_token %}
                    <form>
                      <input type="text" class="input-question" id="question" rows="3" placeholder="Your FAQ"></textarea>
                      <button id="submit" class="btn">?</button>
                    </form>
                    
                  </div>
              </div>
            </div>
{% endblock content%}

{% block localjs %}
<script>
  /* Ajax Submit question*/
  $(function(evt) {
    $("#submit").click(function(evt) {
      evt.preventDefault();

      $.post('/faq/add/', {
        question: $("#question").val()

      }, function(data) {
        console.log(data);
        if (data && data.success) {
          $('.questions').append('<div id="question-'+data.question.id+'" class="question whitebar left clear">'
                      +'<div class="question-cell left">'
                        +'<div class="question-text">'
                          +'<p>'+data.question.question+'</p>'
                        +'</div>'
                      +'</div>'
                      +'<div class="votecell right">'
                        +'<div class="">'
                          +'<input type="hidden" value="'+data.question.id+'">'
                          +'<a href="#" class="vote vote-up" title="This question IS frequently asked">yep</a>'
                          +'<a href="#" class="vote vote-down" title="This question IS NOT! frequently asked">nope</a>'
                        +'</div>'
                      +'</div>'
              +'</div>');
          $("#question").val('');
        }
      });
    });
  });
  $(function() {
    $(".vote-up").click(function(evt) {
      evt.preventDefault();
      var votebtn = $(this);
      var siblingbtn = $(this).siblings('a');
      var question = $(this).siblings('input').val();
      if ($(this).hasClass("vote-on"))
        { var vote = "n"; }
      else
        { var vote = "u"; }
      $.post('/faq/vote/'+ question +'/'+ vote +'/', {

      }, function(data) {
        console.log(data);
        if (data && data.success) {
          $(votebtn).toggleClass("vote-on");
          if ($(siblingbtn).hasClass("vote-on"))
            { $(siblingbtn).toggleClass("vote-on"); }
        }
      });
    });
  });
  $(function() {
    $(".vote-down").click(function(evt) {
      evt.preventDefault();
      var votebtn = $(this);
      var siblingbtn = $(this).siblings('a');
      var question = $(this).siblings('input').val();
      if ($(this).hasClass("vote-on"))
        { var vote = "n"; }
      else
        { var vote = "d"; }
      $.post('/faq/vote/'+ question +'/'+ vote +'/', {

      }, function(data) {
        console.log(data);
        if (data && data.success) {
          $(votebtn).toggleClass("vote-on");
          if ($(siblingbtn).hasClass("vote-on"))
            { $(siblingbtn).toggleClass("vote-on"); }
        }
      });
    });
  });
  
</script>
{% endblock %}