html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
ol, ul {
	list-style: none;
	padding: 0;
	margin-left: 1%;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

body{
	width:100%;
	max-width:860px;
	margin:0 auto;
	background: #7ed39e;
	background-repeat: repeat;
	background-image:url('../img/backpat.png');
	background-size:10px 10px;
	color:#596491;
	font-family: 'Asap', sans-serif;
	font-size:10px;
}
h1 {
	font-size:4em;
	line-height:1em;
	text-transform:uppercase;
}

p {
	font-size:2em;
}

a {
	color:#cfecd9;
	text-decoration:none;
}


.vote {
	font-size:1.5em;
	border-radius:5px;
	padding:0 .5em;
	background-color:#596491;
	width:25px;
	vertical-align:10%;
}

.vote:hover {
	background-color:#8898dd;
}

.question-text {
	margin-right:1em;
}

.question-text:first-letter {
	font-weight:900;
}

.question {
	margin:1em 0;
}

.input-question {
	color:#596491;
	background-color: rgba(255,255,255,.65);
	border:none;
	width:70%;
	padding:1em;
	height:2em;
}

.btn {
	margin:0;
	border: none;
	vertical-align: bottom;
	padding:.5em;
	background-color:#596491;
	color:white;
	font-size:2em;
	width:10%;
	min-width:2em;
}

.hide{
	display: none;
}

.whitebox{
	background-color: rgba(255,255,255,.65);
	width:100%;
	padding:1em 0;
}

.whitebar {
	border-left:solid 6px white;
	padding:0 1em;
	position: relative;
	left:-6px;
}

.divider {
	margin-bottom:2em;
	border-bottom: dotted 2px white;
}

.third {
	width:26%;
	margin:1em 1%;
}

.twothird {
	width:70%;
	margin:1em 1%;
}

.full {
	width:98%;
	margin:1em 1%;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

@media (max-width: 660px) {
	
	.right{
		float:left;
	}
	.third, .twothird{
		width:98%;
	}
}